@import '../node_modules/bootstrap/dist/css/bootstrap.css';


#root {
  background-image: linear-gradient(to right top, #393E46, #3f5768, #3a7288, #288fa2, #00adb5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {}